*{
    font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
    border: 1px solid;    
    border-collapse: collapse;
    width: 50%;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }